{# src/AppBundle/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Autoecole fondary{% endblock %}</title>
    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <div id="header">
        <div class="visible-lg visible-md visible-xs visible-sm" align="center">
            <img src="{{ asset('bannier_autoecole.png') }}" class="img-responsive img-rounded" alt="cer auto ecole fondary"/>
        </div>
    </div>
</head>
<body>
{# On affiche tous les messages flash #}
{% for label, messages in app.session.flashbag.all %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

<span class="line-break"> &nbsp; </span>
<nav class="navbar navbar-default" transparency role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li {% if (app.request.get('_route') in ['autoecole', 'homepage']) %}class="active"{% endif %}><a href="{{  path('autoecole') }}">L'auto-école</a></li>
                <li {% if app.request.get('_route') starts with 'permis' %}class="active"{% endif %} class="dropdown">
                    <a href="{{  path('permis') }}" >Permis </a>
                </li>
                <li {% if app.request.get('_route') starts with 'financement' %}class="active"{% endif %}><a href="{{  path('financement') }}">Financements</a></li>
                <li {% if app.request.get('_route') starts with 'inscription' %}class="active"{% endif %}><a href="{{  path('inscription') }}">Inscription</a></li>
                <li {% if (app.request.get('_route') starts with 'coordonnees') %}class="active"{% endif %}><a href="{{  path('coordonnees') }}">Coordonnées</a></li>
                <li {% if app.request.get('_route') starts with 'contact' %}class="active"{% endif %}><a href="{{  path('contact') }}">Nous Contacter</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
