{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row text-center">
        <div class="text-center">
            <img src="{{ asset('postit/postit_arrivee.png') }}" class="postit" alt="postit_arrivee">
            <img src="{{ asset('postit/postit_autoecole.png') }}" class="postit" alt="postit_autoecole">
            <img src="{{ asset('postit/postit_formule.png') }}" class="postit" alt="postit_formule">
            <img src="{{ asset('postit/postit_inscription.png') }}" class="postit" alt="postit_inscription">
        </div>
        <ul class="list-group">
            {% set lists = ['Signature du cerfa02 (formulaire d\'enregistrement préfectoral)'
            , 'Signature du contrat de formation'
            , 'Paiement de votre forfait'
            , 'Fourniture des outils pédagogiques']
            %}
                {% for list in lists %}
                    <li class="list-group-item"><span class="glyphicon glyphicon-check red"></span> {{ list }}</li>
                {% endfor %}
        </ul>
    </div>
    <div class="row h4">Documents à fournir selon l'offre (cliquer sur l'offre)</div>
    {% set inscription_types = [
        {"id": "premiere_inscription", "name": "1ere inscription", "list": ["1 photocopie de pièce d'identité ou carte de séjour", "4 photographies d'identité", "2 enveloppes \"prêt-à-poster\" Lettre suivie 50g"]}
       ,{"id": "permis_etranger", "name": "Permis Etranger", "list": ["Photocopie du permis étranger", "Traduction du permis"]}
       ,{"id": "reprise_de_dossier", "name": "Reprise de dossier", "list": ["Fournir le cerfa02 enregistré en préfecture"]}
       ,{"id": "aac", "name": "AAC", "list": ["Photocopie du permis des accompagnateurs"
                                              , "Photocopie de la pièce d'identité des accompagnateurs"
                                              , "Photocopie de l'attestation de recensement ou attestation de participation à la JDC"
                                              , "Une autorisation parentale manuscrite"
                                             ]
        }
    ]
    %}
   {% for inscription_type in inscription_types %}
        <div class="row inscription-type">
            <div class="h4"> {{ inscription_type.name }} <span class="glyphicon glyphicon-chevron-right red"></span>
            </div>
            <hr/>
            <div class="inscription-list hidden">
                <ul class="list-group">
                {% if inscription_type.id in ["permis_etranger", "reprise_de_dossier", "aac"] %}
                {%     set list = inscription_types[0]["list"]|merge(inscription_type["list"]) %}
                {% else %}
                {%     set list = inscription_type.list %}
                {% endif %}
                {% for item in  list %}
                    <li class="list-group-item"><span class="glyphicon glyphicon-check red"></span> {{ item }}</li>
                {% endfor %}
                </ul>
                {% if inscription_type.id == 'premiere_inscription' %}
                <div>Pour les 18-25 ans:</div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="glyphicon glyphicon-check red"></span> Photocopie du certificat de participation à la JDC</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-check red"></span> Photocopie de l'ASSR2 ou l'ASR pour les candidats nés après le 01/01/1988</li>
                    </ul>
                {% endif %}
                <div class="row text-center">
                    <a class="moreinfos" href="{{ path('contact', {'type': inscription_type.id }) }}">Plus d'informations</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}