{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="line-break"></div>
    <div class="row">
        A votre arrivée dans notre établissement, nous constituons le dossier d'inscription.
        Ensuite nous planifions une heure d'évaluation de départ qui se déroule en présence d'un enseignant.
        Cette heure d'évaluation a pour objectif de vous apporter conseil sur la formule la plus adaptée pour votre formation.
        A l'issue de votre heure d'évaluation, vous finalisez l'inscription par:
    </div>
    <div class="line-break"></div>
    <div class="row">
        <ul class="list-group">
            {% set lists = ['le choix de votre formule', 'la signature du cerfa02 (formulaire d\'enregistrement préfectoral)'
            , 'la signature du contrat de formation', 'le paiement de votre forfait'
            ,'la signature du contrat de formation'
            , 'le paiement de votre forfait'
            , 'la fourniture des outils pédagogiques']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
   <div class="row premiere-inscription liste-inscription hidden">
        1ere inscription:
        <ul class="list-group">
            {% set lists = ['1 photocopie de carte d\'identité ou carte de séjour', '4 photographies d\'identité'
            , '2 enveloppes "prêt-à-poster Lettre suivie 50g"']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row permis-etranger liste-inscription hidden">
        Pour les 15-18 ans:
        <ul class="list-group">
            {% set lists = ['Photocopie de l\'attestation de recensement', 'Une autorisation parentale manuscrite'
            , 'Photocopie de la pièce d\'identité du parent']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row hidden">
        Pour les 18-25 ans:
        <ul class="list-group">
            {% set lists = ['Photocopie du certificat de participation à la JDC', 'Photocopie de l\'ASSR2 ou l\'ASR pour les candidats nés après le 01/01/1988'
            , 'Photocopie de la pièce d\'identité du parent']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row liste-inscription hidden">
        Permis Etranger (documents décrits dans la 1ère inscription + documents ci-dessous):
        <ul class="list-group">
            {% set lists = ['Photocopie du permis', 'Traduction du permis']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row hidden">
        Reprise de dossier
        <ul class="list-group">
            {% set lists = ['Fournir le cerfa02 enregistré en préfecture']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row aac liste-inscription hidden">
        AAC: (documents décrits dans la 1ère inscription + documents ci-dessous):
        <ul class="list-group">
            {% set lists = ['Photocopie du permis des accompagnateurs', 'Photocopie de la pièce d\'identité des accompagnateurs']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

