{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <nav class="dropdown">
        <div id="offre" class="container">
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Offres
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu permis-menu" aria-labbelledby="dropdownMenu1">
              <li class="permis-menu-item">
                <a href="#permis-b" class="text-center">Permis B</a>
              </li>
              <li class="permis-menu-item">
                <a href="#permis-aac" class="text-center">Conduite Accompagnée (Permis AAC)</a>
              </li>
              <li class="permis-menu-item">
                <a href="#permis-etranger" class="text-center">Permis étranger</a>
              </li>
              <li class="permis-menu-item">
                <a href="#annulation-permis" class="text-center">Annulation permis</a>
              </li>
            </ul>
            </div>
            <div class="offre-title text-center">Permis B</div>
        </div>
    </nav>
    <div id="permis-b" class="container permis-liste">
        <div>
            <ul class="list-group">
                {% set lists = ['20H / 26H / 30H de conduite', 'Frais d\'inscription', 'Pochette pédagogique',
                'Livret de questions orales', 'Livret de questions orales', 'Une heure d\'évaluation de départ'
                ,'Forfait cours de code', '2 présentations à l\'examen de conduite réelles', '1 présentation à l\'examen de la conduite']
                %}
                {% for list in lists %}
                     <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
                {% endfor %}
            </ul>
            <div class="text-center">
                <a class="moreinfos" href="{{ path('contact', {'type': 'Permis-b'}) }}">Plus d'informations</a>
            </div>
        </div>
    </div>
    <div id="permis-aac" class="container hidden permis-liste">
        <div>
          <ul class="list-group">
            {% set lists = ['20H / 26H de conduite', 'Frais d\'inscription', 'Pochette pédagogique',
              'Livret de questions orales', 'Livret de questions orales', 'Une heure d\'évaluation de départ'
              ,'Forfait cours de code', '2 présentations à l\'examen de conduite réelles', '1 présentation à l\'examen de la conduite']
            %}
            {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="text-center">
            <a class="moreinfos" href="{{ path('contact', {'type': 'Permis-aac'}) }}">Plus d'informations</a>
        </div>
    </div>
    <div id="permis-etranger" class="container hidden permis-liste">
      <div>
        <ul class="list-group">
          {% set lists = ['15H / 20H de conduite', 'Frais d\'inscription', 'Pochette pédagogique',
          'Forfait cours de code', '1 présentation à l\'examen de code', '1 présentation à l\'examen de conduite']
          %}
          {% for list in lists %}
                <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="text-center">
            <a class="moreinfos" href="{{ path('contact', {'type': 'Permis-etranger'}) }}">Plus d'informations</a>
      </div>
    </div>
    <div id="annulation-permis" class="container hidden permis-liste">
      <div class="col-xs-6 col-sd-5">
        <div class="row text-center">
            Code
        </div>
        <div class="row">
          <ul class="list-group">
              {% set lists = ['Frais d\'inscription', 'Pochette pédagogique',
              'Forfait cours de code', '1 présentation à l\'examen de code']
              %}
              {% for list in lists %}
                  <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sd-5">
        <div class="row text-center">
            Permis
        </div>
        <div class="row">
          <ul class="list-group">
              {% set lists = ['6H / 10H de conduite', 'Frais d\'inscription', 'Pochette pédagogique', 'Livret de questions orales',
              'Forfait cours de code', '2 présentation à l\'examen de code', '1 présentation à l\'examen de conduite']
              %}
              {% for list in lists %}
                  <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="text-center">
          <a class="moreinfos" href="{{ path('contact', {'type': 'Permis-annulation'}) }}">Plus d'informations</a>
      </div>
    </div>
{% endblock %}

